* {
    font-family: 'Lato';
    /*padding: 0;*/
    /*margin: 0;*/
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#main {
    position: relative;
    float: top;
    height: 70%;
    /*border: 2px solid #1976D2;*/
    background: #dd4e42;
    transition: opacity .5s linear;
}

#tesseract-img {
    position: relative;
    width: 50%;
    height: 100%;
    max-height: 100%;
    float: left;
    /*border: 2px solid #1976D2;*/
    /*padding: .5%;*/
}

#box {
    display: block;
    position: relative;
    width: 92%;
    height: 92%;
    margin: 4%;
    max-height: 100%;
    /*background-color: white;*/
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

#box > #js--image-preview {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("");
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

#box > #js--image-preview::after {
    font-family: 'Material Icons';
    position: relative;
    font-size: 4.5em;
    color: #e6e6e6;
    top: calc(50% - 3rem);
    left: calc(50% - 2.25rem);
    z-index: 0;
}

#box > #js--image-preview.js--no-default::after {
    display: none;
}

#box > #js--image-preview:nth-child(2) {
    background-image: url("http://bastianandre.at/giphy.gif");
}

#box > #js--image-preview > input#image-upload {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.fa-image {
    position: absolute;
    margin: 19% 21% 20% 21%;
    font-size: 20em;
    color: #cccccc;
    opacity: 1;
}

#tesseract-option {
    width: 50%;
    height: 100%;
    padding-top: 1%;
    float: right;
    background-color: transparent;
}

.forward-input {
    position: relative;
    margin: 5% 0 0 .5%;
    width: 92%;
}

input.option {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

input.option:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input.option:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #e6e6e6;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 15px;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #b0392f;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

select {
    width: 95%;
    padding: 3px 3px 7px 3px;
    margin: 4% 4% 0 .5%;
    border: 1px solid #ccc;
    color: #e6e6e6;
    background-color: #b83b31;
    border-radius: 3px;
    overflow: hidden;
    font-size: 16px;
    transition: all 0.2s ease-in;
    outline: none;
}

select:hover {
    background-color: #b0392f;
}

button {
    outline: none;
    cursor: pointer;
    background: none;
    transition: .5s;
    border-radius: 5px;
    font-family: sans-serif;
    position: relative;
    border: 2px solid #ffffff;
    color: #ffffff;
}

#add-btn {
    width: 40%;
    height: 24%;
    float: right;
    margin: 4% 4.5%;
    font-size: 24px;
}

#add-btn:hover {
    border: none;
    font-size: 28px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #b83b31;
    background-color: #ffffff;
}

#tesseract-btn {
    width: 23%;
    height: 10%;
    float: left;
    margin: 4% 0 0 1%;
    font-size: 20px;
}

#tesseract-btn:hover {
    border: none;
    font-size: 22px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #b83b31;
    background-color: #ffffff;
}

#pytesseract-btn {
    width: 23%;
    height: 10%;
    float: left;
    margin: 4% 0 0 3%;
    font-size: 20px;
}

#pytesseract-btn:hover {
    border: none;
    font-size: 22px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #b83b31;
    background-color: #ffffff;
}

#language-btn {
    width: 23%;
    height: 10%;
    float: left;
    margin: 4% 0 0 1%;
    font-size: 20px;
}

#language-btn:hover {
    border: none;
    font-size: 22px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #b83b31;
    background-color: #ffffff;
}

#command-btn {
    width: 23%;
    height: 10%;
    float: left;
    margin: 4% 0 0 3%;
    font-size: 20px;
}

#command-btn:hover {
    border: none;
    font-size: 22px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #b83b31;
    background-color: #ffffff;
}

#result {
    position: relative;
    float: bottom;
    height: 30%;
    background: #222222;
}

#loader {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    opacity: 0;
    transition: opacity .5s linear;
}


#snackbar {
    bottom: 0;
    z-index: 3;
    width: 80%;
    height: 0px;
    line-height: 50px;
    position: absolute;
    background-color: white;
    transition: all .3s;
    border-top: 0px;
    overflow: hidden;
    margin: 0 0 0 10%;
}

#snackbar.active {
    height: 50px;
    border-top: 2px solid #222222;
}

#snackbar > span {
    border: 0;
    float: left;
    color: #222222;
    cursor: pointer;
    font-size: 15px;
    margin-left: 3%;
    font-weight: bold;
    font-family: 'Lato';
    pointer-events: none;
    background: transparent;
    text-transform: uppercase;
}
